
extends layout

block body
  //- Main jumbotron for a primary marketing message or call to action
  .jumbotron.jumbotron-fluid.mb-0.text-center.bg-secondary
    .container
      h1= t('Idle Space Station')
      p.lead= t('Create and maintian a space station. Develop it and exlpore the universe!')
      a.btn.btn-success.btn-lg(href=l('/register'), role="button", data-toggle='modal-anchor', data-target='#modal-sign-up')= t('Try the demo')
